# ebb36.cfg - Cấu hình cho BTT EBB36 v1.1/v1.2 (STM32G0B1)

# 1. Khai báo MCU
[mcu ebb]
canbus_uuid: 051b281ac99f

# 2. Cảm biến nhiệt độ của bản thân mạch EBB36
[temperature_sensor EBB_NTC]
sensor_type: Generic 3950
sensor_pin: ebb:PA2

# 3. Cảm biến gia tốc ADXL345 (Dùng cho Input Shaping)
[adxl345]
cs_pin: ebb:PB12
spi_software_sclk_pin: ebb:PB10
spi_software_mosi_pin: ebb:PB11
spi_software_miso_pin: ebb:PB2
axes_map: x,y,z

[resonance_tester]
accel_chip: adxl345
probe_points:
    150, 150, 20  # <--- Đã sửa tạm thành 150,150. Bạn sửa lại theo tâm bàn máy bạn.

# 4. Cấu hình Extruder (Đùn nhựa)
[extruder]
step_pin: ebb:PD0
dir_pin: ebb:PD1        # <--- Nếu motor quay ngược, hãy xóa dấu chấm than "!"
enable_pin: !ebb:PD2
microsteps: 16
rotation_distance: 22.6789511
gear_ratio: 50:10        # Tỉ số truyền: Bánh lớn 50 răng, bánh motor 8 răng
nozzle_diameter: 0.400
filament_diameter: 1.750
max_extrude_only_distance: 101.0
heater_pin: ebb:PB13
sensor_type: EPCOS 100K B57560G104F # <--- Nếu nhiệt độ phòng sai, đổi thành "Generic 3950"
sensor_pin: ebb:PA3
min_temp: 0
max_temp: 400
pressure_advance: 0.07

control: pid
pid_Kp: 30.405
pid_Ki: 14.479
pid_Kd: 15.963
# pid_Kp=30.405 pid_Ki=14.479 pid_Kd=15.963

[tmc2209 extruder]
uart_pin: ebb:PA15
run_current: 0.65       # <--- Chỉnh dòng điện phù hợp motor (thường 0.6 - 0.85)
stealthchop_threshold: 0

# Cấu hình Cảm biến nhiệt & Cục nung


# --- CẤU HÌNH PID (ĐÃ SỬA) ---

# PID parameters: pid_Kp=28.750 pid_Ki=13.691 pid_Kd=15.094
# The SAVE_CONFIG command will update the printer config file
# with these parameters and restart the printer.
# 5. Cấu hình Driver motor (TMC2209)


# 6. Quạt tản nhiệt Hotend (Luôn chạy khi nóng > 50 độ)
[heater_fan hotend_fan]
pin: ebb:PA0
heater: extruder
heater_temp: 50.0


# 7. Quạt thổi vật liệu (Part Cooling Fan)
[fan]
pin: ebb:PA1

# 8. Cấu hình Probe
[probe]
pin: ^ebb:PB8    # Dấu ^ là BẮT BUỘC (pull-up resistor)
# pin: ^!ebb:PB8 # Dùng dòng này nếu logic bị ngược (Lúc nãy bạn test OK rồi thì thôi)
x_offset: 33
y_offset: 0
z_offset: 7.76
speed: 5.0
samples: 1
samples_result: median
sample_retract_dist: 2.0  # Giảm xuống 2.0 cho nhanh
samples_tolerance: 0.03   # <--- Đã tăng lên 0.03 để tránh lỗi
samples_tolerance_retries: 5 # Tăng số lần thử lại lên 5


[verify_heater extruder]
max_error: 120
check_gain_time: 20
hysteresis: 3    # Cho phép dao động trong khoảng 5 độ (mặc định klipper rất bé)
heating_gain: 2