[pause_resume]

######################################################################
# START / END PRINT
######################################################################

[gcode_macro PRINT_START]
description: Bắt đầu quy trình in
gcode:
    {% set bed_temp = params.BED_TEMP|default(60)|float %}
    {% set extruder_temp = params.EXTRUDER_TEMP|default(190)|float %}
    
    G90
    M140 S{bed_temp}
    G28
    G1 Z5 F3000
    M190 S{bed_temp}
    M109 S{extruder_temp}
    
    # Vẽ đường purge
    G1 X2 Y10 F3000
    G1 Z0.3 F240
    G92 E0
    G1 Y190 E15 F1500
    G1 X2.3 F5000
    G1 Y10 E30 F1200
    G92 E0
    G1 Z2 F3000
    M117 Bat dau in!

[gcode_macro END_PRINT]
description: Kết thúc quy trình in
gcode:
    M140 S0
    M104 S0
    M106 S0
    
    G91
    G1 X-2 Y-2 E-3 F300
    G1 Z10 F3000
    G90
    
    G1 X0 Y200 F2000
    M84
    M117 Hoan thanh!

# Alias để CANCEL_PRINT gọi không bị lỗi
[gcode_macro PRINT_END]
gcode:
    END_PRINT

######################################################################
# NẠP / RÚT NHỰA (TỐI ƯU CHO TRỤC TRƠN - KHÔNG BỊ RÍT)
######################################################################

[gcode_macro LOAD_FILAMENT]
description: Nạp nhựa chậm chống trượt
gcode:
    {% set load_dist = 50 %}
    {% set purge_dist = 25 %}
    {% set fast_speed = 600 %}
    {% set slow_speed = params.SPEED|default(300)|float %}
    
    M118 [DEBUG] Dang chay Macro Load custom...
    SAVE_GCODE_STATE NAME=load_state
    G91
    G92 E0
    G1 E{load_dist} F{fast_speed}
    G1 E{purge_dist} F{slow_speed}
    RESTORE_GCODE_STATE NAME=load_state

[gcode_macro UNLOAD_FILAMENT]
description: Rút nhựa an toàn
gcode:
    {% set unload_dist = 50 %}
    {% set purge_dist = 25 %}
    {% set fast_speed = 600 %}
    {% set slow_speed = params.SPEED|default(300)|float %}
    
    M118 [DEBUG] Dang chay Macro Unload custom...
    SAVE_GCODE_STATE NAME=unload_state
    G91
    G92 E0
    G1 E{purge_dist} F{slow_speed}
    G1 E-{unload_dist} F{fast_speed}
    RESTORE_GCODE_STATE NAME=unload_state

######################################################################
# PAUSE / RESUME / CANCEL (BẢN CHUẨN, AN TOÀN, KHÔNG DÙNG KM)
######################################################################

[gcode_macro PAUSE]
description: Tạm dừng in
rename_existing: BASE_PAUSE
gcode:
    {% set X = params.X|default(0)|float %}
    {% set Y = params.Y|default(200)|float %}
    {% set Z = params.Z|default(10)|float %}
    {% set E = params.E|default(2)|float %}
    
    SAVE_GCODE_STATE NAME=PAUSE_state
    BASE_PAUSE
    G91
    G1 E-{E} F2100
    G1 Z{Z} F900
    G90
    G1 X{X} Y{Y} F6000

[gcode_macro RESUME]
description: Tiếp tục in
rename_existing: BASE_RESUME
gcode:
    {% set E = params.E|default(2)|float %}
    G91
    G1 E{E} F2100
    RESTORE_GCODE_STATE NAME=PAUSE_state
    BASE_RESUME

[gcode_macro CANCEL_PRINT]
description: Hủy in
rename_existing: BASE_CANCEL_PRINT
gcode:
    TURN_OFF_HEATERS
    CLEAR_PAUSE
    SDCARD_RESET_FILE
    END_PRINT
    BASE_CANCEL_PRINT

######################################################################
# LỆNH M600 ĐỔI NHỰA
######################################################################

[gcode_macro M600]
description: Lệnh đổi nhựa M600 cho file G-code
gcode:
    PAUSE
    UNLOAD_FILAMENT